<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.team15.muzimusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_splash"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuziMusic"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.getstarted.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.account.LockAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.type.ManagerTypeActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.TricksActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.type.TypeActivity"
            android:exported="false" />

        <service android:name=".service.MusicService" />
        <service
            android:name=".service.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".broadcast.MusicBroadcast"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.wonder.music" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.forgetpassword.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.comment.reply.CommentReplyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.formsong.FormSongActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.comment.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.player.PlayerActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity"
            android:taskAffinity="" />
        <activity
            android:name=".ui.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>